* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(236, 244, 250);
}

:root {
    --bg: white;
    --color: rgb(42, 42, 42);
    --navColor: #ECF4FA;
    --shadow: silver;
    --borderColor: #a6a4a4;
    --hoverColor:#cee4f5;
}